<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal", referring_url: request.referrer }, style: "padding: 1rem; border: 1px solid black" do %>
    <div data-controller="modal">
      <div class="shopping_modal_cont">
        <div class="shopping_modal" style="padding: 1rem;">
          <h1 class="form-title">Generating Shopping List</h1>
          
          <%= form_with(url: recipe_create_shopping_list_path(@recipe), method: :post, class: 'forms') do |form| %>
            <%= form.hidden_field :recipe_id, value: @recipe.id %>
            
            <div class="field">
              <%= form.label :inventory_id, 'Choose an inventory to use:', class: 'shopping-sub' %>
              <%= form.collection_select(:inventory_id, Inventory.all, :id, :name, { prompt: true }, { required: true }) %>
            </div>
            
            <div class="form-actions">
              <%= button_tag 'Generate and Close', type: 'submit', class: 'btn submit-and-close-button' %>
            </div>
          <% end %>
          
          <div class="form-actions">
            <%= button_tag 'Close', type: 'button', class: 'btn close-modal-button', data: { action: "turbo-modal#close" } %>
          </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>