<main>
  <div class="recipe-container">
    <h1 class="recipeTitle"><%= @recipe.name %></h1>
    <div class="recipeInfo">
      <div class="recipeInfoL">
        <p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
        <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
        <p class="descRecipeD"><%= @recipe.description%><p>
      </div>
      <div class="recipeInfoR">
        <p><strong>Public:</strong></p>
        <div class="toggle-button">
          <% if current_user == @recipe.user %>
            <%= button_to toggle_public_recipe_path(@recipe), method: :patch, class: "btnToggle" do %>
              <%= @recipe.is_public ? 'Yes' : 'No' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonsRecipe">
    <% if current_user == @recipe.user %>
      <div class="add-food-form">
        <%= link_to "Add ingredient", new_recipe_food_path(@recipe), class: "btn btn-primary" %>
      </div>
    <% end %>
    <% if @recipe.is_public || current_user == @recipe.user %>
      <div class="generate-list-button">
        <%= link_to "Generate shopping list", modal_recipe_path(@recipe), data: { turbo_frame: 'modal' } %>
      </div>
    <% end %>
  </div>

  <table class="tableRecipe">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
          <td><%= (recipe_food.quantity * recipe_food.food.price).to_i %> $</td>
          <td class="buttonsTable">
            <%= link_to 'Edit', edit_recipe_recipe_food_path(@recipe, recipe_food), class: 'btn btn-primary' %>
            <%= button_to 'Delete', recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
