<main>
  <div class="recipe-container">
    <h1 class="recipeTitle"><%= @recipe.name %></h1>
    <div class="recipeInfo">
      <div class="recipeInfoL">
        <p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
        <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
      </div>
      <div class="recipeInfoR">
        <p><strong>Public:</strong> <%= @recipe.public ? 'Yes' : 'No' %></p>
        <div class="toggle-button">
          <% if current_user == @recipe.user %>
            <%= button_to "Toggle Public", toggle_public_recipe_path(@recipe), method: :patch, class: "btn toggle-public-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user == @recipe.user %>
    <div class="add-food-form">
      <%= link_to "Add New Food", new_recipe_food_path(@recipe), class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @recipe.public || current_user == @recipe.user %>
    <div class="generate-list-button">
    <%= link_to "Generate shopping list", modal_recipe_path, data: { turbo_frame: 'modal' } %>
    </div>
  <% end %>
</main>
